<!doctype html>
<html>
<head>
    <title>InstaPet</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/profile">InstaPet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/feed">Feed <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a href="/profile">
        <h1><%= user.local.username %><i class="fas fa-paw"></i></h1>
      </a>
      </span>
    </div>
  </nav>
<div class="container">
  <div class="row align-items-center">
  <div class="col align-self-center">
      <ul class="messages">
      <% for(var i=0; i<posts.length; i++) {%>
        <li class="message">
          <data-postId hidden><%= posts[i]._id %></data-postId>
          <a href="/postPages/<%= posts[i]._id %>">
            <h4><%= posts[i].caption %></h4>
            <img src="<%= posts[i].img %>" alt="">
          </a>
          <span><i class="far fa-heart" aria-hidden="true"></i><%= posts[i].likes %></span>
          <span><i class="fas fa-trash" aria-hidden="true"></i></span>
          <ul>
          <% for(var c=0; c<comments.length; c++) {%>
            <% if(String(comments[c].forPost) === String(posts[i]._id)) {%>
              <li class="comments">
                <span><%= comments[c].postedBy %>:</span>
                <span><%= comments[c].comment %></span>
              </li>
            <% } %>
          <% } %>
          </ul>
          <form action="/comments" method="POST">
            <input type='hidden' name='onPage' value='profile'>
            <input type='hidden' name='forPost' value='<%= posts[i]._id %>'>
            <input type="text" name="comment" placeholder="comment">
            <button type="submit">Submit</button>
          </form>
        </li>
      <% } %>
      </ul>

      <h2 id="createPost">Create a Post</h2>
      <% if (user.local.email) { %>
        <form action="/posts" enctype="multipart/form-data" method="POST">
          <input type="file" name="file-to-upload">
          <input type="text" name="caption" placeholder="caption" class="caption">
          <input type="submit"></input>
        </form>
      <% } %>
  </div>
  <div class="col align-self-center">
    <img src="img/insta.png" alt="pet montage clockwise from top left: grey kittens, white hamster with an apple, brown dog, green bird">
  </div>
</div>
</div>

<script src="main.js"></script>

</body>
</html>
